
#patientContent{
    margin-top: 100px;
    padding: 100px;
}
#createPatientSection{
    margin-top : 30px;
    padding : 30px
}
.centre{
    text-align: center;
  }
h4{
    font-size: 0.875em;
   
  
   margin:0;padding:0;
 
}

      